# Python - Technical Exercises With Answers

Welcome to the technical exercises for python training session. These hands-on exercises are aimed at helping you get more comfortable with manipulating data in python and should provide you with a basic foundation for working with data from the CADW. Please answer the questions below and document your code to call out your answer. We will review the correct answers and provide examples of code at a later training session. If you have any questions, please feel free to reach out to Michael Voss on the Data Science Team.


The data we will use comes from the CADW and is located at the following path:
X:\Data_Science\Training_Sessions\Python\Technical_Exercises\Data

There are three datasets from the client Carilion for the year 2017. Considering the size restrictions when reading in data to python, I've reduced the datasets to include only the fields needed for the exercises:
 - claims
     - Fields: ['encounter', 'memberid', 'sex', 'provname', 'provspec', 'provspec_desc', 'incmonthid', 'units', 'days', 'paid', 'allow', 'majcat', 'majdesc', 'subcat', 'subdesc', 'claim_type']
     
     
 - claimsrx
     - Fields: ['clm_unique_id', 'memberid', 'incmonthid', 'provid', 'script', 'paid', 'drugname', 'drug_type',        'generic_sub']
     
     
 - eligibility
     - Fields: ['memberid', 'age', 'sex', 'monthid', 'eligmed', 'eligrx']

#### 0. Before you get started, you'll need to read in the data files

In [1]:
# import modules to be used in project
import pandas as pd
import numpy as np

In [2]:
# set the file paths for the three datasets
claims_path = "X:\Data_Science\Training_Sessions\Python\Technical_Exercises\Data\claims.txt"
claimsrx_path = "X:\Data_Science\Training_Sessions\Python\Technical_Exercises\Data\claimsrx.txt"
elig_path = "X:\Data_Science\Training_Sessions\Python\Technical_Exercises\Data\elig.txt"

When importing the data, you may get a low memory or dtype warning. The reason you get this is becuase when reading in data, pandas is trying to determine what dtype to set for each column by analyzing the data. However, guessing dtypes is very memory demanding. In order to not get this warning, you need to set low_memory = False, or specify dtypes on the import.

In [3]:
# using pandas, import the claims dataset
claims = pd.read_table(claims_path, sep="\t", low_memory=False)

In [7]:
# using pandas, import the claimsrx dataset
claimsrx = pd.read_table(claimsrx_path, sep="\t", low_memory=False)

In [8]:
# using pandas, import the eligibility dataset
elig = pd.read_table(elig_path, sep="\t", low_memory=False)

In [9]:
# view the claims dataframe
claims.head()

,encounter,memberid,sex,provname,provspec,provspec_desc,incmonthid,units,days,paid,allow,majcat,majdesc,subcat,subdesc,claim_type
0,003686658A_CRL_5885_IP_2017061220170614,003686658A,F,T/A AUGUSTA HEALTH,32,Hospital,201706,2.0,2,2729.51,3275.412,2,Inpatient - Maternity,5,Normal Delivery,Hospital Inpatient
1,003686658A_CRL_5885_IP_2017072620170818,003686658A,F,T/A AUGUSTA HEALTH,32,Hospital,201707,23.0,23,4666.84,5600.208,1,Inpatient - Acute Medical,2,Other Medical,Hospital Inpatient
2,223419589A_CRL_38_IP_2017082620170829,223419589A,F,CARILION ROANOKE MEMORIAL HOSPITAL,32,Hospital,201708,3.0,3,3109.85,3731.820,2,Inpatient - Maternity,5,Normal Delivery,Hospital Inpatient
3,223846105C1_CRL_38_IP_2017101420171016,223846105C1,F,CARILION ROANOKE MEMORIAL HOSPITAL,32,Hospital,201710,2.0,2,3478.95,4174.740,2,Inpatient - Maternity,5,Normal Delivery,Hospital Inpatient
4,224456860A_CRL_38_IP_2017020720170211,224456860A,F,CARILION ROANOKE MEMORIAL HOSPITAL,32,Hospital,201702,4.0,4,4221.58,5065.896,2,Inpatient - Maternity,5,Normal Delivery,Hospital Inpatient

In [7]:
# view the claimsrx dataframe
claimsrx.head()

,clm_unique_id,memberid,incmonthid,provid,script,paid,drugname,drug_type,generic_sub
0,0065961813541,226645198A,201703,CRL_304,1,0.26,BUPROPION HCL SR,G,1.850416e+08
1,0065961813542,226645198A,201703,CRL_304,1,0.26,BUPROPION HCL SR,G,1.850416e+08
2,0065961813543,226645198A,201703,CRL_304,1,0.26,BUPROPION HCL SR,G,1.850416e+08
3,0065961813544,226645198A,201703,CRL_304,0,0.00,CLONAZEPAM,G,3.781911e+08
4,0065961813545,226645198A,201703,CRL_304,1,15.00,DOXYCYCLINE HYCLATE,G,6.740507e+10

In [8]:
# view the elig dataframe
elig.head()

      memberid  age sex  monthid  eligmed  eligrx
0  001182888D4   90   F   201701        1       1
1  001182888D4   90   F   201702        1       1
2  001182888D4   90   F   201703        1       1
3  001182888D4   90   F   201704        1       1
4  001182888D4   90   F   201705        1       1

#### 1. What is the total number of eligible claims (not including pharmacy)?

Before pulling any claims data, it is important to filter the claims for only those that were incurred  when the member was eligible for the applicable benefits. In order to do that, we need to merge the claims with the eligibility table and keep only those claims incurred in months when the member was eligible for the benefit.

In [10]:
# perform a left join from the claims dataframe to the elig dataframe on memberid and incmonthid/monthid
elig_claims = claims.merge(elig, how='left', left_on=['memberid','incmonthid'], right_on=['memberid', 'monthid'])

In [11]:
# filter the data for only those claims where where eligmed = 1
elig_claims_final = elig_claims.loc[elig_claims['eligmed'] == 1.0]

In [123]:
# were there any claims where the member was not eligible for the benefit?
nonelig_claims = elig_claims.loc[elig_claims['eligmed'] != 1.0]
len(nonelig_claims)

7459

#### __Correct Answer:__

In [124]:
len(elig_claims_final)

3575621

#### 2. What is the total number of member months?

In order to calculate the member months for the data, we need to sum up the eligmed field in the eligibility data. Since each record correspsonds to a month of eligibility, it will give us the total number of member months.

In [14]:
# sum up the eligmed field to get the total number of member months
mm = elig['eligmed'].sum()

#### __Correct Answer:__

In [15]:
mm

722639

#### 3. What is the count of male, female, and total members for the following age cohorts: (0 - 39), (40 - 64), and 65+?

Using the eligibility data, we need to first get a single age for each member that was eligible in the data. Because the time period for the data is 2017, members could have a differet age depending on the month during the year. Therefore, I decided to use the age that the member was for the longest duration (the most months) in the data. For any members that were the two different ages for the same amount of time (6 months at one age, 6 months at another), I took the higher age.

First, we need figure out which age to attribute to each member.

In [263]:
# filter for only the member months where the member was eligible (eligmed = 1)
membership = elig.loc[elig['eligmed'] == 1.0]

In [276]:
membership4.head()

      memberid  age sex age_cohort
0  001182888D4   90   F        65+
1   001240927A   84   M        65+
2   001240927B   82   F        65+
3   001249331A   86   M        65+
4   001262987A   81   M        65+

In [266]:
# get the number of months each member was for each age
membership2 = membership.groupby(['memberid', 'age', 'sex'])['age'].agg('count').reset_index(name='count')

In [268]:
# sort by the memberid, count(frequency) and then the age
membership3 = membership2.sort_values(['memberid', 'count', 'age'], ascending=[False, False, False])

In [270]:
# for each memberid, keep the first row
membership4 = membership3.groupby('memberid').first().reset_index()

In [272]:
# drop the count column
membership4 = membership4.drop(columns=['count'])

In [273]:
# create a new column for the age cohorts
membership4['age_cohort'] = ''

In [275]:
# when the age is less than 40, set the age cohort to '0-39'
membership4.loc[membership4['age'] < 40, 'age_cohort'] = '0-39'

# when the age is between 39 and 65, set the age cohort to '40-64'
membership4.loc[(membership4['age'] > 39) & (membership4['age'] < 65), 'age_cohort'] = '40-64'

# when the age is greater than 64, set the age cohort to '65+'
membership4.loc[membership4['age'] > 64, 'age_cohort'] = '65+'

In [277]:
# drop the memberid and the age columns
membership4 = membership4.drop(columns=['age'])

Now that we have the members assigned to the age cohorts, we can group them by the age cohort and the sex to get the total number of members for each group.

In [278]:
# get the count of members for each age cohort and sex combination
membership_final = membership4.groupby(['age_cohort', 'sex'])['memberid'].agg('count').reset_index(name='count')

In [279]:
# set the index to the age cohort column
membership_final.set_index('age_cohort', inplace=True)

In [280]:
# format the count column
membership_final['count'] = membership_final['count'].apply('{:,.0f}'.format)

In addition, we can also get group the data just by the age cohorts and get the total number of members for each, regardless of the members sex.

In [175]:
# get the total for each age cohort
membership_age_cohort = membership4.groupby(['age_cohort'])['memberid'].agg('count').reset_index(name='count')

In [176]:
# set the index to the age cohort column
membership_age_cohort.set_index('age_cohort', inplace=True)

In [177]:
#format the count column
membership_age_cohort['count'] = membership_age_cohort['count'].apply('{:,.0f}'.format)

#### __Correct Answer:__

In [174]:
# membership broken out by age cohort and sex
membership_final

           sex   count
age_cohort
0-39         F     709
0-39         M     695
40-64        F   4,557
40-64        M   4,051
65+          F  31,843
65+          M  23,263

In [178]:
# membership broken out by age cohort
membership_age_cohort

             count
age_cohort
0-39         1,404
40-64        8,608
65+         55,106

#### 4. For each claim type, major category, and subcategory, perform the following:

- Calculate the utilization per 1,000
- Calculate the total allowed amount
- Calculate the total allowed PMPM amount

Create your output in the form of a pandas dataframe(s).

In [41]:
def utilization(x):
    ''' 
    Returns the utilization per 1,000 of x.
    '''
    return ((x.sum()/mm)*12000)

In [42]:
def total_allowed(x):
    '''
    Returns the total allowed amount of x.
    '''
    return x.sum()

In [43]:
def allowed_pmpm(x):
    '''
    Returns the allowed per member per month of x.
    '''
    return x.sum()/mm

For this question, we are going to create three different pandas dataframes, one for the claim type, the majcat, and subcats. For each dataframe, we will perform the calculations.

__Claim Type__

In [44]:
# create a new dataframe with the utilization of each claim type
claim_type = elig_claims.groupby(['claim_type'])['units'].agg([utilization])

In [45]:
# create a new dataframe with the total allowed and pmpm amounts
claim_type1 = elig_claims.groupby(['claim_type'])['allow'].agg([allowed_pmpm, total_allowed])

In [65]:
# merge the two dataframes together
claim_type_final = claim_type.merge(claim_type1, how='left', left_index=True, right_index=True)

In [66]:
# sort by the total allowed to find the claim types with high a high impact on cost
claim_type_final = claim_type_final.sort_values('total_allowed', ascending=False)

In [67]:
# format the dataframe so that it reads easier
claim_type_final['utilization'] = claim_type_final['utilization'].apply('{:,.1f}'.format)
claim_type_final['allowed_pmpm'] = claim_type_final['allowed_pmpm'].apply('${0:,.2f}'.format)
claim_type_final['total_allowed'] = claim_type_final['total_allowed'].apply('${0:,.0f}'.format)

__Major Category__

In [49]:
# create a new dataframe with the utilization of each majacat
majcat = elig_claims.groupby(['majdesc'])['units'].agg([utilization])

In [50]:
# create a new dataframe with the total allowed and pmpm amounts
majcat1 = elig_claims.groupby(['majdesc'])['allow'].agg([allowed_pmpm, total_allowed])

In [62]:
# merge the two dataframes together
majcat_final = majcat.merge(majcat1, how='left', left_index=True, right_index=True)

In [63]:
# sort by the total allowed to find the categories with high a high impact on cost
majcat_final = majcat_final.sort_values('total_allowed', ascending=False)

In [64]:
# format the dataframe so that it reads easier
majcat_final['utilization'] = majcat_final['utilization'].apply('{:,.1f}'.format)
majcat_final['allowed_pmpm'] = majcat_final['allowed_pmpm'].apply('${0:,.2f}'.format)
majcat_final['total_allowed'] = majcat_final['total_allowed'].apply('${0:,.0f}'.format)

__Sub-Category__

In [54]:
# create a new dataframe with the utilization of each subcat
subcat = elig_claims.groupby(['subdesc'])['units'].agg([utilization])

In [55]:
# create a new dataframe with the total allowed and pmpm amounts
subcat1 = elig_claims.groupby(['subdesc'])['allow'].agg([allowed_pmpm, total_allowed])

In [68]:
# merge the two dataframes together
subcat_final = subcat.merge(subcat1, how='left', left_index=True, right_index=True)

In [69]:
# sort by the total allowed to find the categories with high a high impact on cost
subcat_final = subcat_final.sort_values('total_allowed', ascending=False)

In [70]:
# format the dataframe so that it reads easier
subcat_final['utilization'] = subcat_final['utilization'].apply('{:,.1f}'.format)
subcat_final['allowed_pmpm'] = subcat_final['allowed_pmpm'].apply('${0:,.2f}'.format)
subcat_final['total_allowed'] = subcat_final['total_allowed'].apply('${0:,.0f}'.format)

#### __Correct Answer:__

In [125]:
claim_type_final

                    utilization allowed_pmpm total_allowed
claim_type
Hospital Inpatient      3,089.9      $353.02  $255,108,406
Physician              62,390.7      $245.02  $177,060,298
Hospital Outpatient     6,483.4      $179.68  $129,847,157
Ancillary              18,090.7      $105.86   $76,496,359

In [72]:
majcat_final

                               utilization allowed_pmpm total_allowed
majdesc
Inpatient - Acute Medical            786.2      $134.17   $96,954,022
Inpatient - Acute Surgical           383.6      $133.94   $96,789,340
Inpatient - Rehab/SNF              1,859.2       $80.26   $58,002,066
Home Health                       11,369.2       $63.51   $45,897,165
Outpatient - ASU                     633.9       $61.42   $44,381,187
Office Visits                      7,984.8       $55.87   $40,376,803
Outpatient - Other                 1,890.6       $55.21   $39,898,222
Medical Drug                      19,335.4       $47.45   $34,285,961
Outpatient Surgery                 5,583.4       $37.17   $26,863,576
Outpatient - Other Therapies       2,258.5       $24.44   $17,663,072
Inpatient Visits                   2,756.4       $23.38   $16,896,275
Outpatient - ER                      469.1       $22.01   $15,905,307
DME                                   71.0       $16.73   $12,090,950
Pathology                         10,976.5       $16.49   $11,918,687
Ambulance                          5,426.6       $15.56   $11,247,129
Radiology                          5,000.4       $13.09    $9,460,404
Outpatient - Radiology               809.4       $12.98    $9,382,629
Inp Surg - Non-Maternity             253.6       $10.63    $7,683,172
All Other                          3,998.2        $8.78    $6,347,084
ER Visits                            781.5        $8.20    $5,925,175
Anesthesia                           632.7        $8.20    $5,924,872
Vision                               950.8        $8.13    $5,876,951
Dx Testing                         2,427.7        $7.88    $5,693,777
Therapies                          2,659.4        $7.83    $5,657,798
Inpatient - MH/SA                     60.1        $4.57    $3,303,452
Outpatient - Pathology               404.2        $3.40    $2,455,062
Mental Health                        272.9        $1.91    $1,383,707
Outpatient - Psych & Sub Abuse        17.5        $0.22      $161,210
Inpatient - Maternity                  0.8        $0.08       $59,526
Inp Surg - Maternity                   0.5        $0.04       $26,218
Consults                               0.1        $0.00          $497
Outpatient - Maternity                 0.1        $0.00          $469
Dental                                 0.1        $0.00          $458

In [73]:
subcat_final

                                 utilization allowed_pmpm total_allowed
subdesc
Other Medical                          786.2      $134.17   $96,954,052
Other Surgical                         352.2      $123.85   $89,499,035
SNF                                  1,783.8       $68.53   $49,523,450
Ambulatory Surgical Care               633.9       $61.42   $44,381,187
Home Visit                           9,649.4       $44.25   $31,978,095
Office Visits - Established          6,764.4       $43.82   $31,665,687
Pharmacy                               156.4       $30.69   $22,177,310
Emergency Room                       1,108.7       $29.22   $21,115,575
Injectable Drugs                     8,477.2       $26.89   $19,433,870
Office Visits - Other                1,844.3       $20.81   $15,037,093
Hospice/Respite                      1,728.5       $19.35   $13,983,090
Physical/occupational Therapy        3,684.8       $17.09   $12,352,820
Ambulance                            5,426.6       $15.56   $11,247,129
Chemotherapy Drugs                   9,045.7       $14.42   $10,422,248
Radiation Therapy                      504.1       $12.30    $8,886,888
Major Procedure - Other                397.0       $11.80    $8,526,274
Rehabilitation                          75.4       $11.73    $8,478,616
Hospital Visit - Subsequent          1,553.4       $10.41    $7,520,050
Other DME                               38.7        $9.49    $6,856,507
Standard Imaging - Other             2,654.8        $9.37    $6,772,431
Minor Procedure - Skin               1,589.4        $8.49    $6,133,702
Eye Procedure                          785.2        $8.45    $6,104,164
Anesthesia                             632.7        $8.20    $5,924,872
Vision Services                        950.7        $8.13    $5,876,630
Other                                3,559.0        $7.62    $5,508,483
Transplant/Tracheostomy                 21.3        $7.43    $5,371,311
Lab Tests - Other                    3,262.5        $7.16    $5,177,209
Office Visits - New                    728.0        $6.96    $5,028,688
Prosthestic/Orthotic Devices            32.1        $6.26    $4,527,220
Lab Tests - Chemistry                3,488.8        $6.03    $4,357,088
...                                      ...          ...           ...
Medical/Surgical Supplies                7.0        $0.58      $416,437
Observation Room                        15.5        $0.52      $372,602
Venipunctures                        2,033.4        $0.51      $367,740
Pulmonary Function                      28.6        $0.43      $310,615
Allergy Immunotherapy                  310.3        $0.32      $231,167
Mental Health - Evaluation              29.8        $0.31      $222,817
Imaging/Procedure - Other               56.9        $0.29      $209,885
Other Procedure                         16.0        $0.28      $201,463
Behavioral Health - Psych               17.5        $0.22      $161,210
Respiratory Services                    20.4        $0.19      $137,775
Tests - Cardiovascular Procedure         8.8        $0.18      $132,405
Lab Tests - Urinalysis                 572.1        $0.18      $128,572
PET Scan                                14.8        $0.17      $123,954
Tests - ENT                             46.6        $0.13       $96,064
Tests - Other Procedure                 27.1        $0.13       $91,141
Normal Delivery                          0.5        $0.05       $36,121
Ambulatory Procedure - Other             0.9        $0.04       $26,500
C-Section Delivery                       0.3        $0.03       $23,405
Audiology                                3.2        $0.03       $22,298
Maternity - Normal Delivery              0.2        $0.02       $15,908
Dermatological Therapy                   4.7        $0.02       $11,444
Maternity - Cesarean Delivery            0.1        $0.01        $8,429
Blood & Blood Storage                    0.6        $0.01        $7,995
Maternity - Non-Delivery                 0.3        $0.00        $1,882
Hospital Visit - Extended Care           0.4        $0.00        $1,362
Consultations                            0.1        $0.00          $497
Labor Room/Delivery                      0.1        $0.00          $469
Dental                                   0.1        $0.00          $458
Specialist - Opthamology                 0.1        $0.00          $321
After hours                              0.0        $0.00            $0

[94 rows x 3 columns]

#### 5. For each pcp specialty, perform the following:

- Calculate the unique number of patients seen
- Calculate the number of encounters
- Calculate the paid per patient
- Calculate the paid per encounter
- Calculate the total paid amount
- Calculate the total paid PMPM amount

PCP provider specialty codes: (21, 25, 35, 45, 62, 44, M6)

Create your output in the form of a pandas dataframe.

In [185]:
def pcp_metrics(x):
    '''
    The function takes a pandas dataframe x, and calculates various metrics that get returned
    as a pandas series. The metric calculations are stored in a dictionary with the column names
    for keys and the calculations for the values.
    '''
    metrics = {
        'patients': x['memberid'].nunique(),
        'encounters': x['encounter'].count(),
        'paid_per_patient': x['paid'].sum()/x['memberid'].nunique(),
        'paid_per_encounter': x['paid'].sum()/x['encounter'].count(),
        'paid_pmpm': x['paid'].sum()/mm,
        'total_paid': x['paid'].sum()
    }
    
    return pd.Series(metrics, index=['patients', 'encounters', 
                                     'paid_per_patient', 'paid_per_encounter', 
                                     'paid_pmpm', 'total_paid'])

In [281]:
# filter the eligible claims for only the pcp providers
pcp_claims = elig_claims.loc[elig_claims['provspec'].isin(['21', '25', '35', '45', '62', '44', 'M6'])]

Now, considering that we have multiple columns that are used in our pcp_metrics function, we cannot simply use .agg() since it implicitly passes a Series to the aggregating function. Instead, we can use .apply() and pass the entire dataframe to the function.

In [282]:
# apply the pcp_metrics function to the dataframe
pcp_claims = pcp_claims.groupby('provspec_desc').apply(pcp_metrics)

In [188]:
# sort the dataframe by the total paid amount
pcp_claims_final = pcp_claims.sort_values('total_paid', ascending=False)

In [189]:
# format the columns in the dataframe
pcp_claims_final['patients'] = pcp_claims_final['patients'].apply('{:,.0f}'.format)
pcp_claims_final['encounters'] = pcp_claims_final['encounters'].apply('{:,.0f}'.format)
pcp_claims_final['paid_per_patient'] = pcp_claims_final['paid_per_patient'].apply('${:,.0f}'.format)
pcp_claims_final['paid_per_encounter'] = pcp_claims_final['paid_per_encounter'].apply('${:,.0f}'.format)
pcp_claims_final['paid_pmpm'] = pcp_claims_final['paid_pmpm'].apply('${:,.2f}'.format)
pcp_claims_final['total_paid'] = pcp_claims_final['total_paid'].apply('${:,.0f}'.format)

#### __Correct Answer:__

In [191]:
pcp_claims_final

,patients,encounters,paid_per_patient,paid_per_encounter,paid_pmpm,total_paid
provspec_desc,,,,,,
Internal Medicine,"38,518","578,040","$1,032",$69,$55.01,"$39,754,110"
Family Medicine,"43,521","416,130",$373,$39,$22.45,"$16,221,481"
Nurse Practitioner,"23,156","104,463",$197,$44,$6.32,"$4,564,830"
Other,"19,935","77,732",$184,$47,$5.07,"$3,665,343"
Obstetrics and Gynecology,"4,348","11,283",$174,$67,$1.05,"$757,789"
Geriatric Medicine,"1,757","5,356",$204,$67,$0.50,"$359,017"
Pediatric Medicine,74,230,$207,$67,$0.02,"$15,349"

#### 6. Pull the top 10 inpatient facilities by total admits and perform the following:
- Calculate the number of admits
- Calculate the number of days
- Calculate the alos
- Calculate the paid per day amount
- Calculate the paid per admit amount
- Calculate the total paid amount

Create your output in the form of a pandas dataframe.

In [193]:
def paid_day(x):
    ''' 
    The function takes a pandas dataframe x, and calculates the paid amount per day. If
    the number of days is equal to 0, then it returns 0.
    '''
    if x['days'].sum() == 0:
        return 0
        
    else: 
        return x['paid'].sum()/x['days'].sum()

In [194]:
def fac_metrics(x):
    '''
    The function takes a pandas dataframe x, and calculates various metrics that get returned
    as a pandas series. The metric calculations are stored in a dictionary with the column names
    for keys and the calculations for the metrics.
    '''
    metrics = {
        'admits': x['provname'].count(),
        'days': x['days'].sum(),
        'alos': x['days'].mean(),
        'paid_day': paid_day(x),
        'paid_admit': (x['paid'].sum()/x['provname'].count()),
        'total_paid': x['paid'].sum()
    }
        
    return pd.Series(metrics, index=['admits', 'days', 'alos', 'paid_day', 'paid_admit', 'total_paid'])

In order to get only the inpatient facility claims, we are going to need to filter the data for only the hospital inpatient claims. This can be done by using the claim type Hospital Inpatient.

In [91]:
# filter the eligible claims for only the inpatient claims
top_10_fac = elig_claims_final.loc[elig_claims_final['claim_type'] == "Hospital Inpatient"]

In [195]:
# apply fac_metrics function to the dataframe
top_10_fac2 = top_10_fac.groupby('provname').apply(fac_metrics)

In [197]:
# sort the data by admits
top_10_fac3 = top_10_fac2.sort_values('admits', ascending=False)

In [199]:
# reset the index to filter for top 10 facilities
top_10_fac3 = top_10_fac3.reset_index()

In [201]:
# only keep the top 10 recrods
top_10_fac_final = top_10_fac3.loc[0:9,'provname':]

In [202]:
# format the columns
top_10_fac_final['admits'] = top_10_fac_final['admits'].apply('{:,.0f}'.format)
top_10_fac_final['days'] = top_10_fac_final['days'].apply('{:,.0f}'.format)
top_10_fac_final['alos'] = top_10_fac_final['alos'].apply('{:,.1f}'.format)
top_10_fac_final['paid_day'] = top_10_fac_final['paid_day'].apply('${0:,.0f}'.format)
top_10_fac_final['paid_admit'] = top_10_fac_final['paid_admit'].apply('${0:,.0f}'.format)
top_10_fac_final['total_paid'] = top_10_fac_final['total_paid'].apply('${0:,.0f}'.format)

In [203]:
# set the index to the facility name
top_10_fac_final.set_index('provname', inplace=True)

#### __Correct Answer:__

In [204]:
top_10_fac_final

,admits,days,alos,paid_day,paid_admit,total_paid
provname,,,,,,
CARILION ROANOKE MEMORIAL HOSPITAL,"5,709","28,354",5.0,"$2,399","$11,912","$68,007,741"
LEWISGALE MEDICAL CENTER,"1,830","9,816",5.4,"$1,603","$8,597","$15,732,032"
CARILION NEW RIVER VALLEY MEDICAL CENTER,"1,215","4,589",3.8,"$2,002","$7,561","$9,186,040"
T/A AUGUSTA HEALTH,992,"3,225",3.3,"$2,936","$9,546","$9,469,646"
ROCKINGHAM MEMORIAL HOSPITAL,604,"2,388",4.0,"$2,718","$10,746","$6,490,771"
SOVAH HEALTH MARTINSVILLE,574,"2,482",4.3,"$1,576","$6,814","$3,911,090"
LEWISGALE HOSPITAL MONTGOMERY,563,"2,325",4.1,"$2,084","$8,606","$4,845,434"
TWIN COUNTY REGIONAL HOSPITAL,515,"1,744",3.4,"$1,947","$6,593","$3,395,456"
UVA HEALTH SCIENCES CENTER,480,"2,589",5.4,"$3,723","$20,081","$9,639,057"
CARILION FRANKLIN MEMORIAL HOSPITAL,385,"1,211",3.1,"$1,996","$6,277","$2,416,733"

#### 7. Repeat the analysis for question 6, but for the inpatient facilities not in the top 10 by total admits. Add the row to the end of the dataframe created in question 6.

In [211]:
# create a new dataframe comprised of all facilities a
all_other_fac = top_10_fac3

In [213]:
# filter the new dataframe for only those facilities outside the top 10 by admits
all_other_fac = all_other_fac.loc[all_other_fac.index >= 10]

In [214]:
# set the index to the facility name
all_other_fac.set_index('provname', inplace=True)

In [216]:
# need to re-calculate the alos, paid/day, and paid/admit for the combined facilities
all_other_fac = all_other_fac.drop(columns=['alos', 'paid_day', 'paid_admit' ])

In [219]:
# create a new row at the bottom of the dataframe that sums the columns
all_other_fac.loc['ALL OTHER'] = all_other_fac.sum()

In [222]:
# only get the ALL OTHER row and set it as the dataframe
all_other_fac = all_other_fac.loc['ALL OTHER']

In [224]:
# convert the series back to a dataframe
all_other_fac = pd.DataFrame(all_other_fac)

In [226]:
# transpose the datafame
all_other_fac = all_other_fac.T

In [228]:
# calculate the alos
all_other_fac['alos'] = all_other_fac.apply(lambda x: x['days']/x['admits'], axis=1)

In [229]:
# calculate the paid per day
all_other_fac['paid_day'] = all_other_fac.apply(lambda x: x['total_paid']/x['days'], axis=1)

In [230]:
# calculate the paid per admit
all_other_fac['paid_admit'] = all_other_fac.apply(lambda x: x['total_paid']/x['admits'], axis=1)

In [232]:
# reorder to the columns to match orginal dataframe
all_other_fac = all_other_fac[['admits', 'days', 'alos', 'paid_day', 'paid_admit', 'total_paid']]

In [233]:
# format the columns
all_other_fac['admits'] = all_other_fac['admits'].apply('{:,.0f}'.format)
all_other_fac['days'] = all_other_fac['days'].apply('{:,.0f}'.format)
all_other_fac['alos'] = all_other_fac['alos'].apply('{:,.1f}'.format)
all_other_fac['paid_day'] = all_other_fac['paid_day'].apply('${0:,.0f}'.format)
all_other_fac['paid_admit'] = all_other_fac['paid_admit'].apply('${0:,.0f}'.format)
all_other_fac['total_paid'] = all_other_fac['total_paid'].apply('${0:,.0f}'.format)

In [234]:
# add the row to the end of the top 10 data frame
all_other_fac_final = pd.concat([top_10_fac_final, all_other_fac])

#### __Correct Answer:__

In [235]:
all_other_fac_final

,admits,days,alos,paid_day,paid_admit,total_paid
CARILION ROANOKE MEMORIAL HOSPITAL,"5,709","28,354",5.0,"$2,399","$11,912","$68,007,741"
LEWISGALE MEDICAL CENTER,"1,830","9,816",5.4,"$1,603","$8,597","$15,732,032"
CARILION NEW RIVER VALLEY MEDICAL CENTER,"1,215","4,589",3.8,"$2,002","$7,561","$9,186,040"
T/A AUGUSTA HEALTH,992,"3,225",3.3,"$2,936","$9,546","$9,469,646"
ROCKINGHAM MEMORIAL HOSPITAL,604,"2,388",4.0,"$2,718","$10,746","$6,490,771"
SOVAH HEALTH MARTINSVILLE,574,"2,482",4.3,"$1,576","$6,814","$3,911,090"
LEWISGALE HOSPITAL MONTGOMERY,563,"2,325",4.1,"$2,084","$8,606","$4,845,434"
TWIN COUNTY REGIONAL HOSPITAL,515,"1,744",3.4,"$1,947","$6,593","$3,395,456"
UVA HEALTH SCIENCES CENTER,480,"2,589",5.4,"$3,723","$20,081","$9,639,057"
CARILION FRANKLIN MEMORIAL HOSPITAL,385,"1,211",3.1,"$1,996","$6,277","$2,416,733"
ALL OTHER,"7,356","129,969",17.7,$609,"$10,763","$79,170,016"

#### 8.  Repeat the analysis for question 6, but for the all the inpatient facilities (create a total row for all the inpatient facilities). Add the row to the end of the data frame created in question 7.

In [236]:
# create a new dataframe comprised of all facilities
total_fac = top_10_fac3

In [237]:
# set the index to the facility name
total_fac.set_index('provname', inplace=True)

In [238]:
# need to re-calculate the alos, paid/day, and paid/admit for the combined facilities
total_fac = total_fac.drop(columns=['alos', 'paid_day', 'paid_admit', ])

In [239]:
# create a new row at the bottom of the dataframe that sums the 
total_fac.loc['TOTAL'] = total_fac.sum()

In [240]:
# only get the TOTAL row 
total_fac = total_fac.loc['TOTAL']

In [241]:
# convert the series back to a dataframe
total_fac = pd.DataFrame(total_fac)

In [242]:
# transpose the dataframe
total_fac = total_fac.T

In [243]:
# calculate the alos
total_fac['alos'] = total_fac.apply(lambda x: x['days']/x['admits'], axis=1)

In [244]:
# calculate the paid per day
total_fac['paid_day'] = total_fac.apply(lambda x: x['total_paid']/x['days'], axis=1)

In [245]:
# calculate the paid per admit
total_fac['paid_admit'] = total_fac.apply(lambda x: x['total_paid']/x['admits'], axis=1)

In [246]:
# reorder to the columns to match orginal dataframe
total_fac = total_fac[['admits', 'days', 'alos', 'paid_day', 'paid_admit', 'total_paid']]

In [247]:
# format the columns
total_fac['admits'] = total_fac['admits'].apply('{:,.0f}'.format)
total_fac['days'] = total_fac['days'].apply('{:,.0f}'.format)
total_fac['alos'] = total_fac['alos'].apply('{:,.1f}'.format)
total_fac['paid_day'] = total_fac['paid_day'].apply('${0:,.0f}'.format)
total_fac['paid_admit'] = total_fac['paid_admit'].apply('${0:,.0f}'.format)
total_fac['total_paid'] = total_fac['total_paid'].apply('${0:,.0f}'.format)

In [248]:
# add the row to the end of the top 10 data frame
facility_report = pd.concat([all_other_fac_final, total_fac])

#### __Correct Answer:__

In [249]:
facility_report

,admits,days,alos,paid_day,paid_admit,total_paid
CARILION ROANOKE MEMORIAL HOSPITAL,"5,709","28,354",5.0,"$2,399","$11,912","$68,007,741"
LEWISGALE MEDICAL CENTER,"1,830","9,816",5.4,"$1,603","$8,597","$15,732,032"
CARILION NEW RIVER VALLEY MEDICAL CENTER,"1,215","4,589",3.8,"$2,002","$7,561","$9,186,040"
T/A AUGUSTA HEALTH,992,"3,225",3.3,"$2,936","$9,546","$9,469,646"
ROCKINGHAM MEMORIAL HOSPITAL,604,"2,388",4.0,"$2,718","$10,746","$6,490,771"
SOVAH HEALTH MARTINSVILLE,574,"2,482",4.3,"$1,576","$6,814","$3,911,090"
LEWISGALE HOSPITAL MONTGOMERY,563,"2,325",4.1,"$2,084","$8,606","$4,845,434"
TWIN COUNTY REGIONAL HOSPITAL,515,"1,744",3.4,"$1,947","$6,593","$3,395,456"
UVA HEALTH SCIENCES CENTER,480,"2,589",5.4,"$3,723","$20,081","$9,639,057"
CARILION FRANKLIN MEMORIAL HOSPITAL,385,"1,211",3.1,"$1,996","$6,277","$2,416,733"
ALL OTHER,"7,356","129,969",17.7,$609,"$10,763","$79,170,016"
TOTAL,"20,223","188,692",9.3,"$1,125","$10,496","$212,264,014"

#### 9. What is the total number of prescriptions for brand drugs where a generic version was available?

Similar to how we got the eligible claims, we have to do the same thing to get the eligible pharmacy claims.

In [250]:
# perform a left join from the claimsrx to the elig dataset on memberid
elig_claimsrx = claimsrx.merge(elig, how='left', 
                               left_on=['memberid','incmonthid'], 
                               right_on=['memberid', 'monthid'])

In [251]:
# filter the eligible claimsrx for only those cliams where the member weas eligible
elig_claimsrx = elig_claimsrx.loc[elig_claimsrx['eligmed'] == 1.0]

In [252]:
# filter the eligible claimsrx for only the brand presripctions
brand_scripts = elig_claimsrx.loc[elig_claimsrx['drug_type'] == "B"]

In [253]:
# filter the claimsrx for only brand prescriptions where there was a generic version
brand_scripts = brand_scripts.loc[brand_scripts['generic_sub'].notnull()]

In [254]:
# sum up the number of brand prescriptions
brand_scripts_final = brand_scripts['script'].sum()

#### __Correct Answer:__

In [255]:
brand_scripts_final

141015

#### 10. Which drug had the highest paid per script amount?

In [256]:
def paid_script(x):
    ''' 
    The function takes a pandas dataframe x, and calculates the paid amount per script. If
    the sum of scripts is equal to 0, then it returns 0.
    '''
    if x['script'].sum() == 0:
        return 0
        
    else: 
        return x['paid'].sum()/x['script'].sum()

In [257]:
# apply the paid_script function
scripts = elig_claimsrx.groupby('drugname').apply(paid_script).reset_index(name='paid_script')

In [258]:
# sort the result by the paid/ per cript amount
scripts_final = scripts.sort_values('paid_script', ascending=False)

In [259]:
# format the dataframe
scripts_final['paid_script'] = scripts_final['paid_script'].apply('${:,.2f}'.format)

In [260]:
# get the top row
scripts_final = scripts_final.head(1)

#### __Correct Answer:__

In [261]:
scripts_final

    drugname paid_script
754  ICLUSIG   $4,377.10